body{
    background-color: #2ec4b6;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color:#616161;
}


.container-main{
    min-height: 100vh;
    min-width:400px;
    width: 800px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin:auto;
}

.container-login{
    width: 400px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding:20px;
    padding-bottom: 60px;
    border-radius:20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2)
}



.content{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin:auto;
    width: 95%;
}



.postItem-container, .reviewItem-container {
    display: flex;
    justify-content: center;
}

.postItem-form, .reviewItem-form {
    text-align: left;
    margin: 0 auto;
}



.search-results{
    display:inline-block;
    margin-top: 30px;
    width: 100%;
}



.review-container {
    padding: 3px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    max-width: 90%;
    margin: 10px auto;
    text-align: left;
  }
  
  .item-container .left-column {
    width: 75%;
  }
  
  .item-container .right-column {
    width: 25%;
    text-align:right;
  }

  .list-container {
    max-width: 90%;
    margin: 10px auto;
    text-align: left;
  }


/* TEXT STYLES */

h1{
    font-size: 36px;
    color: #287271;
    text-align:center;
}

h2{
    font-size: 26px;
    color: #287271;
    text-align:center;
}

h3{
    font-size: 18px;
    color: #287271;
    font-weight:bolder;
}

.list-container h3{
    text-align: center;
}

.item-container h2 {
    font-size: 18px;
    color: #287271;;
    font-weight: bolder;
    text-align:left;
  }


a{
    color: #2ec4b6;
    font-size: 16px;
    text-decoration:none
}

a:hover{
    color:#2ec4b6;
    font-size: 16px;
    font-weight:bolder;
    text-decoration:underline;
}



p.errormsg{
    font-size: 12px;
    color:#ff9f1c;
}




/* TABLE STYLES */
table{
    width: 100%;
}

th{
    font-size: 16px;
    font-weight:bolder;
    color: #287271;
}




/* BUTTON & FORM STYLES */

.button{
    width: 320px;
    background-color: #ffbf69;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin:10px;
    text-decoration:none;
}
.button:hover{
    width: 320px;
    background-color: #ff9f1c;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin:10px;
    text-decoration:none;
}

/*initialize db button*/
.button-2{
    width: 200px;
    background-color: #287271;
    padding: 8px;
    font-size: 12px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.button-2:hover{
    width: 200px;
    background-color: #616161;
    padding: 8px;
    font-size: 12px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

/*logout button*/
.button-3{
    background-color: #287271;
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border:none;
}
.button-3:hover{
    background-color: #ffbf69;
    color: #ffffff;
}

.button-4{
    width: 125px;
    background-color: #ffbf69;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin:10px;
    text-align:center;
    text-decoration:none;
    display:block;
    
}
.button-4:hover{
    width: 125px;
    background-color: #ff9f1c;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin:10px;
    text-align:center;
    text-decoration:none;
    display:block;
}



.content form input{
    background-color:#ebebeb;
    width: 300px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    margin:5px;
}

textarea {
    background-color:#ebebeb;
    width: 300px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    margin:5px;
    font-family: Roboto;
}

select{
    background-color:#ebebeb;
    width: 300px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    margin:5px;
}

.list-container select{
    background-color:#ebebeb;
    width: 200px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    margin:5px;
}



/* NAVIGATION */
.navbar {
    background-color: #287271;
    overflow: hidden;
    margin-bottom:20px;
  }
  

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

.navbar a:hover {
    background-color: #ffbf69;
    color: #ffffff;
  }
  

.navbar a.active {
    background-color: #ff9f1c;
    color: #ffffff;
  }

