body{
    background-color: #2ec4b6;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color:#616161;
}

a{
    color: #2ec4b6;
}

a:hover{
    background-color: #2ec4b6;
    color:#ffffff;
    text-decoration:none;
}

p.errormsg{
    font-size: 12px;
    color:#ff9f1c;
}

.container-login{
    width: 400px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding:20px;
    padding-bottom: 60px;
    border-radius:20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2)
}

.container-login .content h1{
    font-size: 36px;
    color: #287271;
    text-transform: uppercase;
}

.container-login .content h2{
    font-size: 26px;
    color: #287271;
    text-transform: uppercase;
}

.container-login .content form input{
    background-color:#ebebeb;
    width: 300px;
    padding: 10px;
    border:none;
    border-radius: 5px;
    margin:5px;
}

.container-main{
    min-height: 100vh;
    min-width:400px;
    width: 600px;
    background-color: #ffffff;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin:auto;
}

.container-main .content{
    display: inline-block;
    justify-content: left;
    text-align:left;
    margin:auto;
}

.button{
    width: 320px;
    background-color: #ffbf69;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin:10px;
}
.button:hover{
    width: 320px;
    background-color: #ff9f1c;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin:10px;
}


.button-2{
    width: 200px;
    background-color: #287271;
    padding: 8px;
    font-size: 12px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.button-2:hover{
    width: 200px;
    background-color: #616161;
    padding: 8px;
    font-size: 12px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.button-3{
    background-color: #287271;
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border:none;
}
.button-3:hover{
    background-color: #ffbf69;
    color: #ffffff;
}


.navbar {
    background-color: #287271;
    overflow: hidden;
  }
  

  .navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .navbar a:hover {
    background-color: #ffbf69;
    color: #ffffff;
  }
  

  .navbar a.active {
    background-color: #ff9f1c;
    color: #ffffff;
  }
